<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalTransit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CC2C54C1F8C6B9F0067CFB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC2C5621F8C6BA00067CFB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC2C56D1F8C6BA00067CFB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
